body {
    margin: 0px;
    padding: 0px;
}

input, button {
    width: 350px;
    height: 50px;
    border: none;
    border-radius: 8px;
    margin: 20px;
    font-size: 22px;
}

input {
    padding-left: 10px;
}

button {
    cursor: pointer;
}

.App {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.searchSection {
    flex: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: cadetblue;
    color: white;
}

.games {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.game {
    width: 100px;
    height: auto;
    margin: 20px;
    border-radius: 7px;
    background-color: white;
    color: black;
    padding: 5px;
}

.game img {
    width: 80%;
    margin-top: 10px;
}

.dealsSection {
    padding-top: 20px;
    width: 100%;
    flex: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#deals {
    background-color: cadetblue;
    color: white;
    width: 200px;
    height: 200px;
    padding-bottom: 30px;
}